.about {
    height: auto;
    padding: 40px 0 40px 0;

    &__subtitle {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        color: #000;
        margin-bottom: 40px;
    }

    &__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 60px;
    }

    &__text {
        font-family: $secend-font;
        font-weight: 500;
        font-size: 16px;
        color: #8A8A8A;
        padding-right: 10px;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__image-main {
        position: relative;
        display: flex;
        justify-content: center;

        img {
            max-width: 100%
        }
    }

    &__image-additional {
        position: relative;
        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
        }
    }

    &__text-additional {
        display: flex;
        height: 100%;

        p {
            margin: auto;
            font-size: 36px;
            line-height: 60px;
            font-weight: 800;
        }
    }

    &__image-badge {
        &__1 {
            img { 
                position: absolute;
                width: 200px;
                height: auto;
                top: -50px;
                left: 0px;
            }
        }

        &__2 {
            img { 
                position: absolute;
                width: 200px;
                height: auto;
                bottom: -70px;
                right: 100px;
            }
        }
    }
}

.row {
    &:nth-child(2) {
        margin-top: -70px;
    }
}

@media (max-width: 1634px) {
    .row {
        &:nth-child(2) {
            margin-top: 0px;
        }
    }
}

@media (max-width: 1400px) {
    .about {
    
        &__image-main { 
            img {
                // max-height: 450px;
            }
        }

        &__text {
            margin-right: -5%;
        }
    }
    .row:nth-child(2) {
        margin-top: 40px;
    }
}

@media (max-width: 1200px) {
    .about {
        &__text {
            // margin-right: 0%;
        }     

        &__image-main {
            // justify-content: flex-end;
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__image-main {
            img {
                // max-height: 270px;
            }
        }

        &__image-badge {
            &__1 {
                img { 
                    // width: 0%;
                }
            }
        }
    }
}