footer {
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .copyright {
    padding: 20px;
    color: #8A8A8A;
  
    a {
      color: #000;
      font-weight: 500;
      text-decoration: none;
    }
  }