.splide {

  &__slide {
    img {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

    &__pagination {
      display: flex;
      justify-content: center;
      gap: 30px;
      align-items: center;
      margin-bottom: 30px;
  
      li:has(.is-active) {
        border: 1px dashed #fff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
      }
  
        &__page {
          height: 10px;
          width: 10px;
          margin: 5px;
  
          &.is-active {
            opacity: 1;
            transform: scale(1)
          }
      }
    }
  }
  
  .slider {
    width: 100%;
    height: 100vh;
    position: relative;
  
    &__item {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      width: 100%;
      height: 100%;
    }
  
    &__content {
      z-index: 5;
      gap: 20px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 50%;
      transform: translate(0, -50%);
    }
  
    &__title {
      padding: 0 40px;
      font-size: 72px;
      text-wrap: wrap;
      font-weight: 800;
      color: #fff;
      text-align: center;
      filter: drop-shadow(0px 4px 4px #000);
    }
  
    &__subtitle {
      text-transform: uppercase;
      line-height: 18px;
      letter-spacing: 5%;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      text-align: center;
    }
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
    
      &::after {
        top: 0;
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
      }
    }
  
    &__dots {
      &::after {
        position: absolute;
        content: '';
        top: 40px;
        right: 40px;
        z-index: 3;
        background-image: url('/Vector.svg');
        width: 210px;
        height: 40vh;
      }
  
      &::before {
        position: absolute;
        content: '';
        bottom: 40px;
        left: 40px;
        z-index: 3;
        background-image: url('/Vector.svg');
        width: 210px;
        height: 40vh;
      }
    }
    
    &__button {
      a {
        text-transform: uppercase;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        padding: 0 25px;
        transition: 0.3s;
      }
  
      --s: 25px; /* the size on the corner */
      --t: 1px;  /* the thickness of the border */
      --g: 13px; /* the gap between the border and image */
      
      padding: calc(var(--g) + var(--t));
      outline: var(--t) solid #fff; /* the color here */
      outline-offset: calc(-1*var(--t));
      mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
      transition: .4s;
  
      &:hover {
        outline-offset: calc(var(--g)/-1.2);
        a {
          padding: 0 10px;
          transition: 0.3s;
        }
      }
    }
    
    @media (max-width: 768px) {
      &__title {
        font-size: 45px;
      }       
    }

}